body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar{
	width: 100%;
	display: flex;
	align-items: center;
}

.menu{
    color:#333;
}

.tlogo{
	column-fill: #fff;
	color: #FFA500;
	padding-left: 3%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#ninja-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ninja-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.ninja-card img {
    max-width: 100%;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #45a049;
}
